[push]
	default = current
[alias]
  co = checkout
  ci = commit
  st = status
  br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  com = checkout master
  hist = log --pretty=format:'%C(yellow)%h %Cred%ad %Creset| %s%Cblue%d %Cgreen[%an]' --graph --date=short
  ack = "!git ls-files | xargs ack"
[user]
	name = Paul Barry
	email = pauljbarry3@gmail.com
[core]
	autocrlf = false
	safecrlf = true
	editor = code -w
	excludesfile = /Users/paul/.gitignore
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[github]
	user = pjb3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[init]
	defaultBranch = main
[diff "lockb"]
	textconv = bun
	binary = true
