[push]
	default = current
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  com = checkout master
  hist = log --pretty=format:'%C(yellow)%h %Cred%ad %Creset| %s%Cblue%d %Cgreen[%an]' --graph --date=short
  ack = "!git ls-files | xargs ack"
[user]
	name = Paul Barry
	email = mail@paulbarry.com
[core]
	autocrlf = input
	safecrlf = true
	editor = subl -w
	excludesfile = ~/.gitignore
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
